In [1]:
import pandas as pd
import numpy as np
import requests
import json
import os
import collections
import time

/opt/anaconda3/lib/python3.8/site-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.8) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [2]:
os.chdir('/Users/lexman/Documents/msba/Coursework/BAX 452 - Machine Learning/Final Project')

In [3]:
data_1 = pd.ExcelFile('booking_clean_v2.xlsx')
data_1 = data_1.parse(sheet_name = 'Sheet1')

In [4]:
data_1.head(5)

,Unnamed: 0,name,city_new,room_classification,free_breakfast,free_cancellation,review,star_rating,price_per_day,preferred_partner_property,city_population,lat,lon
0,0,GreenTree Pasadena,Pasadena,King Room,1,0,1586,3,165.25,1,12750807,34.138934,-118.146914
1,1,Big Bear Inn,Big Bear Lake,King Room,0,0,720,2,113.62,0,12750807,34.243504,-116.915642
2,2,Red Lion Inn & Suites Auburn,Auburn,King Room,1,0,667,3,100.38,1,3592294,38.898076,-121.071247
3,3,Regency Inn in Los Angeles,Los Angeles,King Room,0,0,313,2,121.88,1,12750807,34.139681,-118.218387
4,4,Hotel La Rose,Santa Rosa,Other,0,1,634,3,205.25,0,37708,38.437927,-122.720924

In [5]:
data_1 = data_1.drop(['Unnamed: 0'], axis=1)

In [6]:
data_1.head(5)

,name,city_new,room_classification,free_breakfast,free_cancellation,review,star_rating,price_per_day,preferred_partner_property,city_population,lat,lon
0,GreenTree Pasadena,Pasadena,King Room,1,0,1586,3,165.25,1,12750807,34.138934,-118.146914
1,Big Bear Inn,Big Bear Lake,King Room,0,0,720,2,113.62,0,12750807,34.243504,-116.915642
2,Red Lion Inn & Suites Auburn,Auburn,King Room,1,0,667,3,100.38,1,3592294,38.898076,-121.071247
3,Regency Inn in Los Angeles,Los Angeles,King Room,0,0,313,2,121.88,1,12750807,34.139681,-118.218387
4,Hotel La Rose,Santa Rosa,Other,0,1,634,3,205.25,0,37708,38.437927,-122.720924

In [7]:
data_1.iloc[0,11]

-118.146914

#### Function to extract relevant neighborhood information

In [8]:
def neighborhood(lat, long, index):
    
    # API request for tourist attractions
    url_1 = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location='+str(lat)+','+str(long)+'&radius=3200&types=tourist_attraction&key=AIzaSyB05iMkh9mZ2_m5Di5zgn400rAwnuRNFWc'
    response_1 = requests.get(url_1).json()
    
    # Create an empty list
    types = []
    
    # Save the types of places nearby
    for i in range(len(response_1['results'])):
        #print(i)
        types_1 = response_1['results'][i]['types']
        #print(types_1)
        types.append(types_1)
        
    # API request for airports
    url_2 = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location='+str(lat)+','+str(long)+'&radius=3200&types=airport&key=AIzaSyB05iMkh9mZ2_m5Di5zgn400rAwnuRNFWc'
    response_2 = requests.get(url_2).json()
    
    # Save the types of places nearby
    for i in range(len(response_2['results'])):
        #print(i)
        types_2 = response_2['results'][i]['types']
        #print(types_2)
        types.append(types_2)
    
            
    # API request for night clubs
    url_3 = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location='+str(lat)+','+str(long)+'&radius=3200&types=night_club&key=AIzaSyB05iMkh9mZ2_m5Di5zgn400rAwnuRNFWc'
    response_3 = requests.get(url_3).json()
    
    # Save the types of places nearby
    for i in range(len(response_3['results'])):
        #print(i)
        types_3 = response_3['results'][i]['types']
        #print(types_3)
        types.append(types_3)
        
    
    # API request for restaurants
    url_4 = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location='+str(lat)+','+str(long)+'&radius=3200&types=restaurant&key=AIzaSyB05iMkh9mZ2_m5Di5zgn400rAwnuRNFWc'
    response_4 = requests.get(url_4).json()
    
    # Save the types of places nearby
    for i in range(len(response_4['results'])):
        #print(i)
        types_4 = response_4['results'][i]['types']
        #print(types_4)
        types.append(types_4)
        
        
    # API request for spas
    url_5 = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location='+str(lat)+','+str(long)+'&radius=3200&types=spa&key=AIzaSyB05iMkh9mZ2_m5Di5zgn400rAwnuRNFWc'
    response_5 = requests.get(url_5).json()
    
    # Save the types of places nearby
    for i in range(len(response_5['results'])):
        #print(i)
        types_5 = response_5['results'][i]['types']
        #print(types_5)
        types.append(types_5)
        
    # Flatten the collated list of type tags
    flat_types = [item for sublist in types for item in sublist]
    counter=collections.Counter(flat_types)
    flat_types_dict = dict(counter)
    
    df_1 = pd.DataFrame(flat_types_dict,index=[index,])
    
    return df_1

In [10]:
data_1.head(5)

,name,city_new,room_classification,free_breakfast,free_cancellation,review,star_rating,price_per_day,preferred_partner_property,city_population,lat,lon
0,GreenTree Pasadena,Pasadena,King Room,1,0,1586,3,165.25,1,12750807,34.138934,-118.146914
1,Big Bear Inn,Big Bear Lake,King Room,0,0,720,2,113.62,0,12750807,34.243504,-116.915642
2,Red Lion Inn & Suites Auburn,Auburn,King Room,1,0,667,3,100.38,1,3592294,38.898076,-121.071247
3,Regency Inn in Los Angeles,Los Angeles,King Room,0,0,313,2,121.88,1,12750807,34.139681,-118.218387
4,Hotel La Rose,Santa Rosa,Other,0,1,634,3,205.25,0,37708,38.437927,-122.720924

In [21]:
del df1
del df2

In [15]:
#neighborhood(data_1.iloc[369,10], data_1.iloc[369,11], 0)

In [22]:
data_1.shape[0]

1000

In [23]:
df1 = pd.DataFrame()

for i in range(data_1.shape[0]):
    
    #time.sleep(2)
    
    #if (i%20==0):
    #    print(i)
     
    print(i)
    # Save the new features to a dataframe
    #while (i)<data_1.shape[0]:
    df2 = neighborhood(data_1.iloc[i,10], data_1.iloc[i,11], i)

    df1 = df1.append(df2)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

In [24]:
df1.shape

(1000, 89)

In [28]:
df1.head(10)

,tourist_attraction,point_of_interest,establishment,museum,city_hall,local_government_office,book_store,store,park,art_gallery,...,laundry,car_repair,bus_station,transit_station,florist,rv_park,car_dealer,primary_school,courthouse,furniture_store
0,20.0,76.0,76.0,8.0,1.0,1.0,1.0,5.0,6.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20.0,55.0,55.0,0.0,0.0,0.0,0.0,3.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,19.0,61.0,61.0,4.0,0.0,0.0,0.0,7.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5.0,49.0,49.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,20.0,69.0,69.0,2.0,0.0,0.0,0.0,2.0,10.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,17.0,41.0,41.0,1.0,0.0,0.0,0.0,4.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,17.0,42.0,42.0,1.0,0.0,0.0,0.0,4.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,20.0,84.0,84.0,1.0,0.0,0.0,0.0,4.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,20.0,82.0,82.0,7.0,0.0,0.0,1.0,4.0,2.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,20.0,64.0,64.0,5.0,0.0,0.0,0.0,3.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
df1 = df1.fillna(0)

In [29]:
df1.to_excel('Neighborhood_features_v1.xlsx')